<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.lucky.product.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.store.lucky.product.model.Product">
    <id column="uuid" jdbcType="BIGINT" property="uuid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="remainder" jdbcType="INTEGER" property="remainder" />
    <result column="sell_out" jdbcType="INTEGER" property="sellOut" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, create_time, update_time, product_name, product_code, remainder, sell_out
  </sql>
  <sql id="SO_Where_Clause">
    <if test="uuid != null">
      and o.uuid=#{uuid},
    </if>
    <if test="createTime != null">
      and o.create_time=#{createTime},
    </if>
    <if test="updateTime != null">
      and o.update_time=#{updateTime},
    </if>
    <if test="productName != null">
      and o.product_name=#{productName},
    </if>
    <if test="productCode != null">
      and o.product_code=#{productCode},
    </if>
    <if test="remainder != null">
      and o.remainder=#{remainder},
    </if>
    <if test="sellOut != null">
      and o.sell_out=#{sellOut},
    </if>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_product
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_product
    where uuid = #{uuid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.store.lucky.product.model.Product">
    insert into s_product (uuid, create_time, update_time, 
      product_name, product_code, remainder, 
      sell_out)
    values (#{uuid,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{productName,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, #{remainder,jdbcType=INTEGER}, 
      #{sellOut,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.store.lucky.product.model.Product">
    insert into s_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="remainder != null">
        remainder,
      </if>
      <if test="sellOut != null">
        sell_out,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="remainder != null">
        #{remainder,jdbcType=INTEGER},
      </if>
      <if test="sellOut != null">
        #{sellOut,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.store.lucky.product.model.Product">
    update s_product
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="remainder != null">
        remainder = #{remainder,jdbcType=INTEGER},
      </if>
      <if test="sellOut != null">
        sell_out = #{sellOut,jdbcType=INTEGER},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.store.lucky.product.model.Product">
    update s_product
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      product_name = #{productName,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      remainder = #{remainder,jdbcType=INTEGER},
      sell_out = #{sellOut,jdbcType=INTEGER}
    where uuid = #{uuid,jdbcType=BIGINT}
  </update>
  <select id="selectUserBySO" resultMap="BaseResultMap" parameterType="com.store.lucky.product.so.ProductSO">
    select
    <include refid="Base_Column_List"/>
    from s_product o
    where 1=1
    <include refid="SO_Where_Clause"/>
  </select>
</mapper>